body {
  background-color: rgb(92, 92, 92);
}

/* The navbar */
.container {
  width: fit-content;
  z-index: 3;
  position: relative;
  margin: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  z-index: 2;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Navbar Ends */

/* view */
.form {
  width: auto;
  border-radius: 10px;
  justify-content: center;
  background-color: #f0f3ff;
  text-align: center;
  position: relative;
}

/* addRoute */
.addR {
  width: 280px;
  height: auto;
  border-radius: 10px;
  background-color: #f0f3ff;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* list of users */

.row {
  background-color: #f0f3ff;
  width: auto;
  font-size: 2vh;
  margin: 0px;
  border-radius: 10px;
  align-items: center;
}

/* all about search */

.searchbar {
  width: 350px;
  border-radius: 10px;
  background-color: #f0f3ff;
  margin-top: 0px;
  font-size: 2.2vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#searchb {
  border-radius: 60px;
  padding: 20px;
  background: #f0f3ff;
  display: flex;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.form-control {
  font-size: 20px;
  width: 1000px;
  border: 0px;
  background: transparent;
  outline: none;
}
.table {
  text-align: center;
}
/* seach bar ends */

/* this is all chartdiv */

#chartdiv {
  width: 100%;
  height: 700px;
  border-radius: 10px;
  cursor: -webkit-grabbing;
  background-color: #454a58;
}

.map-marker {
  /* adjusting for the marker dimensions
    so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
  box-sizing: border-box;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
}
.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box;
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

/* Misc */
