<!-- Body with navbar -------->

<body>
    <div class="container">
        <div class="topnav">
          <a href="/">Home</a>
          <a href="/showList">Showlist</a>
          <a href="/search">Search</a>
        </div>
      </div>
</body>