

<!--- Search Template---------------------------->
<template name="search">
  <div class="searchbar">
    <div class="form-group">
      <div id="searchb">
        <input type="text" class="form-control search-query" id="search-query" placeholder="Search">
      </div>
    </div>
    {{> people}}
  </div>
</template>

<!--  Search Helper or the table for view--------->
<template name ="people">
    <div class="table">
      {{#if searchResults.results}}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            {{#each searchResults.results}}
            <!--{{> searchHelper}}-->
            <tr>
              <td>{{title}}</td>
              <td>{{device}}</td>
              <td>{{country}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
</template>

<!---<template name="searchHelper">
  <p class="hoverMethod"> 
    <tr>
      <td>{{title}}</td>
      <td>{{device}}</td>
      <td>{{latitude}}</td>
      <td>{{longitude}}</td>
      <td>{{country}}</td>
    </tr>
  </p>
  {{#if showHover}}
  <p> <strong>LOL!</strong> </p>
  {{/if}}
</template>-->