<!---  World Template ---------------------------->
<template name="world">
    <main>
        {{> Template.dynamic template=main}}
    </main>
    <div id="chartdiv"></div>
</template>

<!--- Showlist --------------------------->
<template name="showList">
    <div class="row">
    <h2> List of Users</h2>
        <ol>
            {{> userinfo}}
            <!--{{#each userinfos}}
                {{> userinfo}}
            {{/each}}-->
        </ol>
    </div>
</template>

<!--- Userinfo ---------------------------->
<!-- Show list helper, used to serve all the users---------->
<!-- Followimng {{#if }} logic is to switch between editing modes----->
<template name="userinfo">
    {{> tabular table=TabularTables.Users class="table table-striped table-bordered table-condensed"}}
    <!-- <div class="showL">
        <li>
            {{#if editing}}
                <form class="edit-user" id="edituser">
                        <input type="text" name="title" required="required" placeholder="{{title}}" />
                    <div>Device Type</div>
                    <select name="device" required="required">
                        <option value="" disabled selected>Previous: {{device}}</option>
                        <option value="router">Router</option>
                        <option value="switch">Switch</option>
                        <option value="hub">Hub</option>
                    </select>
                    <div>Latitude: {{latitude}}</div>
                    <div>Longitude: {{longitude}}</div>
                </form>
                <button type="submit" form="edituser" value="Submit">Done</button>
                <button class="cancel">&times; Cancel</button>
            {{else}}
                <ul>{{title}}</ul>
                <ul>Device Type: {{device}}</ul>
                <ul>Latitude: {{latitude}}</ul>
                <ul>Longitude: {{longitude}}</ul>
                <button class="delete">&cross; delete</button>
                <button class="toggle-edit">&#9997; edit</button>
            {{/if}}
        </li>
    </div>-->
</template>

<!---userform --------------------------->
<!-- To add new user---->
<template name="userform">
    <!--<div class="form">-->
    <div class="addR" style="top: {{position.Y}}px; left: {{position.X}}px;">
        <form class="new-user" id="newuser">
            <div>Add new User</div>
            <input type="text" name="title" placeholder="Title/Name" />
            <div>Choose device type</div>
            <select name="device">
                <option value="router">Router</option>
                <option value="switch">Switch</option>
                <option value="hub">Hub</option>
            </select>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
        </form>
        <button type="submit" form="newuser" value="Submit">Add user</button>
        <button class="delete">&times; Cancel</button>
    </div>
</template>

<!-- User Details --------------------------->
<!-- To display user details---->
<template name="userdetail">
    <!--<div class="form">-->
        <div class="addR" style="top: {{position.Y}}px; left: {{position.X}}px;">
            <h1>{{title}} <button class="collapse">&times;</button></h1>
            <div>Device type: {{device}}</div>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
    </div>
</template>

<template name="addRoute">
    <div class="addR" style="top: {{position.Y}}px; left: {{position.X}}px;">
        <div> Select a destination <button class="cancelAdd">&times;</button></div>
        <select class="form-control" required style="width: 200px;"  id="routeDest" name="routeDest">
            <option value="" disabled selected>Please Select</option>
            {{#each dropDown}}
                <option value="{{this._id}}">{{this.title}}</option>
            {{/each}}
        </select>
    </div>
</template>

<!--- Remove Route Teomplate -->
<template name="removeRoute">
    <div class="addR" style="top: {{position.Y}}px; left: {{position.X}}px;">
        <div> Sure to disconnect route: <b>{{name}}</b></div>
        <button class="Remove">Yes</button>
        <button class="cancelRemove">&times; Cancel</button>
    </div>
</template>

<!--- Unkown Route Template -->
<template name="unknownRoute">
    <div style="background-color: #f3f0ff; border-radius: 10px; text-align: center; ">
        <h1> Route Not found 404</h1>
        <h2> You can go back to home!</h2>
    </div>
</template>